svg > text {
	fill: black;
	stroke: black;
	stroke-width:1px;
}

div {
	cursor: auto;
}

div.selected {
	border: 2px solid red;
	box-shadow: 5px 5px 5px #888888;
}

div.dragged {
	cursor: move;
}

.canvas {
	position:absolute;
	width:100%;
	height:100%;
}

.composite.scacomposite {
	position:absolute;
	resize: both;
	margin: 0px;
	padding: 0px;
	border-radius: 10px;
}

.composite.scacomposite > svg {
	fill:#81d4fa;
	stroke-width:1;
	stroke: black;
	shape-rendering: geometricPrecision;
}

.composite.scacomponent {
	position:absolute;
	margin: 0px;
	padding: 0px;
	border-radius: 10px;
}

.composite.scacomponent > svg{
	fill:#4fc3f7;
	stroke-width:1;
	stroke: darkblue;
	shape-rendering: geometricPrecision;
}

.component.scaservice {
	position:absolute;
	margin: 0px;
	padding: 0px;
}

.component.scaservice > svg{
	fill:rgb(0,155,10);
	stroke-width:1;
	stroke: darkgreen;
	shape-rendering: geometricPrecision;
}

.component.scareference {
	position: absolute;
	margin: 0px;
	padding: 0px;
}

.component.scareference > svg{
	fill:rgb(200,155,155);
	stroke-width:1;
	stroke: darkred;
	shape-rendering: geometricPrecision;
}

.component.scaproperty {
	position: absolute;
	margin: 0px;
	padding: 0px;
}

.component.scaproperty:hover {
	overflow:visbile;
}

.component.scaproperty > svg{
	fill:yellow;
	stroke-width:1;
	stroke: brown;
	shape-rendering: geometricPrecision;
}

.component.scaimplementation {
	position: absolute;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.component.scaimplementation:hover {
	overflow:visbile;
}

.component.scaimplementation > svg {
	fill: orange;
	stroke-width:1;
	stroke: darkorange;
	shape-rendering: geometricPrecision;
}

.scawire {
	stroke-width:2;
	stroke:black;
    fill:none;
}