svg > text {
	fill: black;
	stroke: black;
}

.canvas {
	position:absolute;
	width:100%;
	height:100%;
}

.composite.scacomposite {
	position:absolute;
	resize: both;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.composite.scacomposite > svg {
	fill:#81d4fa;
	stroke-width:1;
	stroke:#333333;
	cursor: move;
}

.composite.scacomponent {
	position:absolute;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.composite.scacomponent > svg{
	fill:#4fc3f7;
	stroke-width:1;
	stroke:#333333;
	cursor: move;
}

.component.scaservice {
	position:absolute;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.component.scaservice > svg{
	fill:rgb(0,155,10);
	stroke-width:1;
	stroke:#333333;
	cursor: arrow;
}

.component.scareference {
	position: absolute;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.component.scareference > svg{
	fill:rgb(200,155,155);
	stroke-width:1;
	stroke:#333333;
}

.component.scaproperty {
	position: absolute;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.component.scaproperty > svg{
	fill:yellow;
	stroke-width:1;
	stroke:#333333;
}

.component.implementation {
	fill:dd1111;
	stroke-width:1;
	stroke:#333333;
}

.scawire {
	stroke-width:2;
	stroke:black;
    fill:none;
}